body
  background url(/hexo-blog/images/dragonball.jpg)
  background-repeat no-repeat
  background-attachment fixed
  background-position 50% 50%

.footer
  color: #fff

.footer a
  color: #222

.site-brand-container
  background url("/hexo-blog/images/goku1.jpg") no-repeat
  opacity 0.8

// 如果是移动端，背景图尺寸进行调整
@media (max-width: 767px)
  .site-brand-container
    background-size 100%

